body {font-family: Comfortaa Bold;background-color: black;color: white;margin: 0;}
@font-face{font-family: "Comfortaa Bold";src: url("Comfortaa-Bold.ttf");}
#color_bar{height: 100px;background-color: black;color: white;}
#gitnangbagay {text-align: center;margin-top: 40px;}
#man{transition-duration: 0.4s;cursor: pointer;width: 100px;margin: auto;font-size: 70px;color: #ff6a00;text-decoration: none;margin-top: 5px;margin-left: 20px;}
#ood{transition-duration: 0.4s;cursor: pointer;width: 100px;margin: auto;font-size: 70px;color: yellow;text-decoration: none;margin-top: 5px;}
#man:hover{color: white;}
#ood:hover{color: white;}
#gitnangteksto{text-align: center;}
.buton {transition-duration: 0.4s;background-color: #ff6a00;color: white;padding: 20px 30px;text-decoration: none;border-radius: 10px;}
.buton:hover {background-color: yellow;color: black;}
.istilongespesyal {background-color: yellow;color: black;padding: 15px 25px;text-align: center;}
.istilongngalan {background-color: yellow;color: black;padding: 3.5px 5px;text-decoration: none;font-size: xx-large;display: inline-block;}
.istilongngalan:hover {background-color: #ff6a00;color: white;}
#banner {display: block;position: relative;text-align: center;color: white;}
.imahe {transition-duration: 0.4;display: inline-block;max-width: 26%;margin: 0 2%;}
.imahe:hover {opacity: 5px;}
.habataas {width: 110%; height: 120%;}
.link {text-decoration: none;transition-duration: 0.4s;color: black;}
.link:hover {color: #ff6a00;}