body {font-family: Comfortaa Bold;background-color: black;color: white;margin: 0;}
@font-face{font-family: "Comfortaa Bold";src: url("Comfortaa-Bold.ttf");}

/* Teksto */
#gitnangbagay {text-align: center;margin-top: 40px;}
#man{transition-duration: 0.4s;cursor: pointer;width: 100px;margin: auto;font-size: 70px;color: #ff6a00;text-decoration: none;margin-top: 5px;margin-left: 20px;}
#ood{transition-duration: 0.4s;cursor: pointer;width: 100px;margin: auto;font-size: 70px;color: yellow;text-decoration: none;margin-top: 5px;}
#man:hover{color: white;}
#ood:hover{color: white;}
#detalye{text-align: left;}

/* Bidyo */
#konteyner{width: 39%;height:61%;margin: auto;padding: 30%;position: relative;}
#konteyner iframe{border: 0.5px solid #ff6a00;position: absolute;top: 0;bottom: 0;left: 0;right: 0;height: 92.5%;width: 100%;}

/* Buton */
.buton{text-align: center;}
.buton button{font-family: Comfortaa Bold;transition-duration: 0.4s;cursor: pointer;border-radius: 5px;width: 49%;border: none;background-color: #ff6a00;color: white;padding: 14px 28px;font-size: 30px;text-align: center;}
#buton-d-gumagana{font-family: Comfortaa Bold;transition-duration: 0.4s;cursor: pointer;border-radius: 5px;width: 49%;border: none;background-color: gray;color: white;padding: 14px 28px;font-size: 30px;text-align: center;}

/* load at pag-ulat */
#kahel-load {transition-duration: 0.4s;color: orange;text-decoration: none;}
#dilaw-ulat {transition-duration: 0.4s;color: yellow;text-decoration: none;}
#kahel-load:hover {color: white;}
#dilaw-ulat:hover {color: white;}

#download {border-radius: 5px;transition-duration: 0.4s;background-color: #ff6a00;color: white;padding: 14px 28px;text-align: center;text-decoration: none;display: inline-block;}
#download:hover {background-color: yellow;color: black;}